*.pdf
*.png
*.mp4
*.ipynb
*.html
*.sh
.ipynb_checkpoints
logs
__pycache__
.vscode/
20230303_wrap_solution.py
anysim_combined_backup.py
anysim_matlab/u_omega.mat
anysim_separate.py
anysim_small_circ_prob.py
anysim_trial.py
gpu_anysim.py
ivo_anysim_combined.py
ivo_run_anysim_combined.py
midpoint_par.py
notestanysim.py
plot_3domain_BW_vs_Overlap.py
plot_stats.py
run_anysim.py
run_anysim_combined.py
try_anysim_ddm.py